---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About IPS</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About IPS</a>
        <a href="/blog/">Dev Blog</a>
        <h1>About IPS</h1>
        <p>
            IPS is the first choice of heavy machinery replacement parts
            supplier for most of the dealers both in Peninsular & East Malaysia.
        </p>
    </body>
</html>
