---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
const pageTitle = "Dev Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Learning adventure!</p>
  {
    allPosts.map((post: any) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
