---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Dev Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Learning adventure!</p>
</BaseLayout>
