---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Dev Blog</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About IPS</a>
        <a href="/blog/">Dev Blog</a>
		<h1>Dev Blog</h1>
        <p>Learning adventure!</p>
	</body>
</html>
